.img {
    border-radius: 50%;
    padding: 4px;
}
#BtnCanva{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    
    
    
}

@media screen and (min-width: 768px) {
    #BtnCanva{
        display: none;
    }
}

#paypal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.buttonLogout{
    background-color: #007bff;
}
#beneficios {
    width: 20%;
    height: 20%;
    
}
#container-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    justify-content: center;
}
#instructorimg {
    width: 20%;
    height: 20%;
}
#imgabout{
    width: 40%;
    height: 20%;}