.img {
    border-radius: 50%;
}
#BtnCanva{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    
    
    
}

@media screen and (min-width: 768px) {
    #BtnCanva{
        display: none;
    }
}

